<h1>File Read - Nuts Transport</h1>

<%= form_tag nuts_file_read_path, method: :post, multipart: true do %>
  <label for="file_input">Drag and drop a file here:</label>
  <input type="file" id="file_input" name="file_input"><br>

  <%= submit_tag "Send" %>
<% end %>

</br>
<%= button_to "Back to Index", root_path, method: :get %>